.Card-Container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  gap: 12px;
  img {
    width: 34px;
    height: 34px;
  }
}

.delete-icon {
  margin-left: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.Card-Container:hover .delete-icon {
  opacity: 1;
  visibility: visible;
}

.Card-input{
  margin-block: 6px;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
}
